[submodule "references/human-eval"]
	path = first-pass/references/human-eval
	url = https://github.com/openai/human-eval
[submodule "references/CodeGeeX"]
	path = first-pass/references/CodeGeeX
	url = https://github.com/THUDM/CodeGeeX
	shallow = true
	ignore = dirty
[submodule "references/k"]
	path = first-pass/references/k
	url = https://github.com/runtimeverification/k.git
	ignore = dirty
[submodule "references/pl-tutorial"]
	path = first-pass/references/pl-tutorial
	url = https://github.com/runtimeverification/pl-tutorial.git
[submodule "references/leetcode"]
	path = first-pass/references/leetcode
	url = https://github.com/doocs/leetcode
	shallow = true
[submodule "references/k-repos/runtimeverification/wasm-semantics"]
	path = first-pass/references/k-repos/runtimeverification/wasm-semantics
	url = https://github.com/runtimeverification/wasm-semantics.git
[submodule "references/k-repos/kframework/aadl-semantics"]
	path = first-pass/references/k-repos/kframework/aadl-semantics
	url = https://github.com/kframework/aadl-semantics.git
[submodule "references/k-repos/kframework/alk-semantics"]
	path = first-pass/references/k-repos/kframework/alk-semantics
	url = https://github.com/kframework/alk-semantics.git
[submodule "references/k-repos/kframework/boogie-semantics"]
	path = first-pass/references/k-repos/kframework/boogie-semantics
	url = https://github.com/kframework/boogie-semantics.git
[submodule "references/k-repos/kframework/cink-semantics"]
	path = first-pass/references/k-repos/kframework/cink-semantics
	url = https://github.com/kframework/cink-semantics.git
[submodule "references/k-repos/kframework/c-semantics"]
	path = first-pass/references/k-repos/kframework/c-semantics
	url = https://github.com/kframework/c-semantics.git
[submodule "references/k-repos/kframework/eei-semantics"]
	path = first-pass/references/k-repos/kframework/eei-semantics
	url = https://github.com/kframework/eei-semantics.git
[submodule "references/k-repos/kframework/ewasm-semantics"]
	path = first-pass/references/k-repos/kframework/ewasm-semantics
	url = https://github.com/kframework/ewasm-semantics.git
[submodule "references/k-repos/kframework/.github"]
	path = first-pass/references/k-repos/kframework/.github
	url = https://github.com/kframework/.github.git
[submodule "references/k-repos/kframework/haskell-core-semantics"]
	path = first-pass/references/k-repos/kframework/haskell-core-semantics
	url = https://github.com/kframework/haskell-core-semantics.git
[submodule "references/k-repos/kframework/homebrew-k"]
	path = first-pass/references/k-repos/kframework/homebrew-k
	url = https://github.com/kframework/homebrew-k.git
[submodule "references/k-repos/kframework/javacard-semantics"]
	path = first-pass/references/k-repos/kframework/javacard-semantics
	url = https://github.com/kframework/javacard-semantics.git
[submodule "references/k-repos/kframework/javascript-semantics"]
	path = first-pass/references/k-repos/kframework/javascript-semantics
	url = https://github.com/kframework/javascript-semantics.git
[submodule "references/k-repos/kframework/java-semantics"]
	path = first-pass/references/k-repos/kframework/java-semantics
	url = https://github.com/kframework/java-semantics.git
[submodule "references/k-repos/kframework/jvm-semantics"]
	path = first-pass/references/k-repos/kframework/jvm-semantics
	url = https://github.com/kframework/jvm-semantics.git
[submodule "references/k-repos/kframework/kale"]
	path = first-pass/references/k-repos/kframework/kale
	url = https://github.com/kframework/kale.git
[submodule "references/k-repos/kframework/kat"]
	path = first-pass/references/k-repos/kframework/kat
	url = https://github.com/kframework/kat.git
[submodule "references/k-repos/kframework/k-in-k"]
	path = first-pass/references/k-repos/kframework/k-in-k
	url = https://github.com/kframework/k-in-k.git
[submodule "references/k-repos/kframework/klab"]
	path = first-pass/references/k-repos/kframework/klab
	url = https://github.com/kframework/klab.git
[submodule "references/k-repos/kframework/k-legacy"]
	path = first-pass/references/k-repos/kframework/k-legacy
	url = https://github.com/kframework/k-legacy.git
[submodule "references/k-repos/kframework/kweb"]
	path = first-pass/references/k-repos/kframework/kweb
	url = https://github.com/kframework/kweb.git
[submodule "references/k-repos/kframework/llvm-semantics"]
	path = first-pass/references/k-repos/kframework/llvm-semantics
	url = https://github.com/kframework/llvm-semantics.git
[submodule "references/k-repos/kframework/llvm-semantics-old"]
	path = first-pass/references/k-repos/kframework/llvm-semantics-old
	url = https://github.com/kframework/llvm-semantics-old.git
[submodule "references/k-repos/kframework/matching-logic-prover"]
	path = first-pass/references/k-repos/kframework/matching-logic-prover
	url = https://github.com/kframework/matching-logic-prover.git
[submodule "references/k-repos/kframework/modelink-semantics"]
	path = first-pass/references/k-repos/kframework/modelink-semantics
	url = https://github.com/kframework/modelink-semantics.git
[submodule "references/k-repos/kframework/ocaml-semantics"]
	path = first-pass/references/k-repos/kframework/ocaml-semantics
	url = https://github.com/kframework/ocaml-semantics.git
[submodule "references/k-repos/kframework/orc-semantics"]
	path = first-pass/references/k-repos/kframework/orc-semantics
	url = https://github.com/kframework/orc-semantics.git
[submodule "references/k-repos/kframework/p4-semantics"]
	path = first-pass/references/k-repos/kframework/p4-semantics
	url = https://github.com/kframework/p4-semantics.git
[submodule "references/k-repos/kframework/parser"]
	path = first-pass/references/k-repos/kframework/parser
	url = https://github.com/kframework/parser.git
[submodule "references/k-repos/kframework/rust-metamath"]
	path = first-pass/references/k-repos/kframework/rust-metamath
	url = https://github.com/kframework/rust-metamath.git
[submodule "references/k-repos/kframework/semantic-approaches"]
	path = first-pass/references/k-repos/kframework/semantic-approaches
	url = https://github.com/kframework/semantic-approaches.git
[submodule "references/k-repos/kframework/solidity-semantics"]
	path = first-pass/references/k-repos/kframework/solidity-semantics
	url = https://github.com/kframework/solidity-semantics.git
[submodule "references/k-repos/kframework/vyper-semantics"]
	path = first-pass/references/k-repos/kframework/vyper-semantics
	url = https://github.com/kframework/vyper-semantics.git
[submodule "references/k-repos/kframework/X86-64-semantics"]
	path = first-pass/references/k-repos/kframework/X86-64-semantics
	url = https://github.com/kframework/X86-64-semantics.git
[submodule "references/k-repos/runtimeverification/aeneas_fri_fold_arity_verification"]
	path = first-pass/references/k-repos/runtimeverification/aeneas_fri_fold_arity_verification
	url = https://github.com/runtimeverification/aeneas_fri_fold_arity_verification.git
[submodule "references/k-repos/runtimeverification/algorand-verification"]
	path = first-pass/references/k-repos/runtimeverification/algorand-verification
	url = https://github.com/runtimeverification/algorand-verification.git
[submodule "references/k-repos/runtimeverification/aspectLLVM"]
	path = first-pass/references/k-repos/runtimeverification/aspectLLVM
	url = https://github.com/runtimeverification/aspectLLVM.git
[submodule "references/k-repos/runtimeverification/avm-semantics"]
	path = first-pass/references/k-repos/runtimeverification/avm-semantics
	url = https://github.com/runtimeverification/avm-semantics.git
[submodule "references/k-repos/runtimeverification/beacon-chain-spec"]
	path = first-pass/references/k-repos/runtimeverification/beacon-chain-spec
	url = https://github.com/runtimeverification/beacon-chain-spec.git
[submodule "references/k-repos/runtimeverification/beacon-chain-verification"]
	path = first-pass/references/k-repos/runtimeverification/beacon-chain-verification
	url = https://github.com/runtimeverification/beacon-chain-verification.git
[submodule "references/k-repos/runtimeverification/buildbear-verifiy"]
	path = first-pass/references/k-repos/runtimeverification/buildbear-verifiy
	url = https://github.com/runtimeverification/buildbear-verifiy.git
[submodule "references/k-repos/runtimeverification/casper-proofs"]
	path = first-pass/references/k-repos/runtimeverification/casper-proofs
	url = https://github.com/runtimeverification/casper-proofs.git
[submodule "references/k-repos/runtimeverification/deposit-contract-verification"]
	path = first-pass/references/k-repos/runtimeverification/deposit-contract-verification
	url = https://github.com/runtimeverification/deposit-contract-verification.git
[submodule "references/k-repos/runtimeverification/erc20-semantics"]
	path = first-pass/references/k-repos/runtimeverification/erc20-semantics
	url = https://github.com/runtimeverification/erc20-semantics.git
[submodule "references/k-repos/runtimeverification/erc777-semantics"]
	path = first-pass/references/k-repos/runtimeverification/erc777-semantics
	url = https://github.com/runtimeverification/erc777-semantics.git
[submodule "references/k-repos/runtimeverification/ercx-api-wrapper"]
	path = first-pass/references/k-repos/runtimeverification/ercx-api-wrapper
	url = https://github.com/runtimeverification/ercx-api-wrapper.git
[submodule "references/k-repos/runtimeverification/ercx-tests"]
	path = first-pass/references/k-repos/runtimeverification/ercx-tests
	url = https://github.com/runtimeverification/ercx-tests.git
[submodule "references/k-repos/runtimeverification/ercx-vscode"]
	path = first-pass/references/k-repos/runtimeverification/ercx-vscode
	url = https://github.com/runtimeverification/ercx-vscode.git
[submodule "references/k-repos/runtimeverification/evm-equivalence"]
	path = first-pass/references/k-repos/runtimeverification/evm-equivalence
	url = https://github.com/runtimeverification/evm-equivalence.git
[submodule "references/k-repos/runtimeverification/evm-semantics"]
	path = first-pass/references/k-repos/runtimeverification/evm-semantics
	url = https://github.com/runtimeverification/evm-semantics.git
[submodule "references/k-repos/runtimeverification/giskard-verification"]
	path = first-pass/references/k-repos/runtimeverification/giskard-verification
	url = https://github.com/runtimeverification/giskard-verification.git
[submodule "references/k-repos/runtimeverification/gitbook-kevm"]
	path = first-pass/references/k-repos/runtimeverification/gitbook-kevm
	url = https://github.com/runtimeverification/gitbook-kevm.git
[submodule "references/k-repos/runtimeverification/gitbook-komet"]
	path = first-pass/references/k-repos/runtimeverification/gitbook-komet
	url = https://github.com/runtimeverification/gitbook-komet.git
[submodule "references/k-repos/runtimeverification/gitbook-kontrol"]
	path = first-pass/references/k-repos/runtimeverification/gitbook-kontrol
	url = https://github.com/runtimeverification/gitbook-kontrol.git
[submodule "references/k-repos/runtimeverification/gitbook-skribe"]
	path = first-pass/references/k-repos/runtimeverification/gitbook-skribe
	url = https://github.com/runtimeverification/gitbook-skribe.git
[submodule "references/k-repos/runtimeverification/hax-annotations-adc-verification"]
	path = first-pass/references/k-repos/runtimeverification/hax-annotations-adc-verification
	url = https://github.com/runtimeverification/hax-annotations-adc-verification.git
[submodule "references/k-repos/runtimeverification/iele-semantics"]
	path = first-pass/references/k-repos/runtimeverification/iele-semantics
	url = https://github.com/runtimeverification/iele-semantics.git
[submodule "references/k-repos/runtimeverification/imp-semantics"]
	path = first-pass/references/k-repos/runtimeverification/imp-semantics
	url = https://github.com/runtimeverification/imp-semantics.git
[submodule "references/k-repos/runtimeverification/install-kontrol"]
	path = first-pass/references/k-repos/runtimeverification/install-kontrol
	url = https://github.com/runtimeverification/install-kontrol.git
[submodule "references/k-repos/runtimeverification/k"]
	path = first-pass/references/k-repos/runtimeverification/k
	url = https://github.com/runtimeverification/k.git
[submodule "references/k-repos/runtimeverification/kasmer-multiversx"]
	path = first-pass/references/k-repos/runtimeverification/kasmer-multiversx
	url = https://github.com/runtimeverification/kasmer-multiversx.git
[submodule "references/k-repos/runtimeverification/kavm-demo"]
	path = first-pass/references/k-repos/runtimeverification/kavm-demo
	url = https://github.com/runtimeverification/kavm-demo.git
[submodule "references/k-repos/runtimeverification/kevm"]
	path = first-pass/references/k-repos/runtimeverification/kevm
	url = https://github.com/runtimeverification/kevm.git
[submodule "references/k-repos/runtimeverification/kevm-act-tutorial"]
	path = first-pass/references/k-repos/runtimeverification/kevm-act-tutorial
	url = https://github.com/runtimeverification/kevm-act-tutorial.git
[submodule "references/k-repos/runtimeverification/kevm-ethereumjs-vm"]
	path = first-pass/references/k-repos/runtimeverification/kevm-ethereumjs-vm
	url = https://github.com/runtimeverification/kevm-ethereumjs-vm.git
[submodule "references/k-repos/runtimeverification/kevm-ganache-cli"]
	path = first-pass/references/k-repos/runtimeverification/kevm-ganache-cli
	url = https://github.com/runtimeverification/kevm-ganache-cli.git
[submodule "references/k-repos/runtimeverification/kevm-ganache-core"]
	path = first-pass/references/k-repos/runtimeverification/kevm-ganache-core
	url = https://github.com/runtimeverification/kevm-ganache-core.git
[submodule "references/k-repos/runtimeverification/knock"]
	path = first-pass/references/k-repos/runtimeverification/knock
	url = https://github.com/runtimeverification/knock.git
[submodule "references/k-repos/runtimeverification/komet"]
	path = first-pass/references/k-repos/runtimeverification/komet
	url = https://github.com/runtimeverification/komet.git
[submodule "references/k-repos/runtimeverification/komet-demo"]
	path = first-pass/references/k-repos/runtimeverification/komet-demo
	url = https://github.com/runtimeverification/komet-demo.git
[submodule "references/k-repos/runtimeverification/komet-node"]
	path = first-pass/references/k-repos/runtimeverification/komet-node
	url = https://github.com/runtimeverification/komet-node.git
[submodule "references/k-repos/runtimeverification/kompass"]
	path = first-pass/references/k-repos/runtimeverification/kompass
	url = https://github.com/runtimeverification/kompass.git
[submodule "references/k-repos/runtimeverification/kontrol"]
	path = first-pass/references/k-repos/runtimeverification/kontrol
	url = https://github.com/runtimeverification/kontrol.git
[submodule "references/k-repos/runtimeverification/kontrol-cheatcodes"]
	path = first-pass/references/k-repos/runtimeverification/kontrol-cheatcodes
	url = https://github.com/runtimeverification/kontrol-cheatcodes.git
[submodule "references/k-repos/runtimeverification/kontrol-demo"]
	path = first-pass/references/k-repos/runtimeverification/kontrol-demo
	url = https://github.com/runtimeverification/kontrol-demo.git
[submodule "references/k-repos/runtimeverification/kontrol-dss-2024"]
	path = first-pass/references/k-repos/runtimeverification/kontrol-dss-2024
	url = https://github.com/runtimeverification/kontrol-dss-2024.git
[submodule "references/k-repos/runtimeverification/kontrol-mantle-workshop"]
	path = first-pass/references/k-repos/runtimeverification/kontrol-mantle-workshop
	url = https://github.com/runtimeverification/kontrol-mantle-workshop.git
[submodule "references/k-repos/runtimeverification/kontrol-solady"]
	path = first-pass/references/k-repos/runtimeverification/kontrol-solady
	url = https://github.com/runtimeverification/kontrol-solady.git
[submodule "references/k-repos/runtimeverification/kontrol-tutorial"]
	path = first-pass/references/k-repos/runtimeverification/kontrol-tutorial
	url = https://github.com/runtimeverification/kontrol-tutorial.git
[submodule "references/k-repos/runtimeverification/kontrol-workshop-ethcc-7"]
	path = first-pass/references/k-repos/runtimeverification/kontrol-workshop-ethcc-7
	url = https://github.com/runtimeverification/kontrol-workshop-ethcc-7.git
[submodule "references/k-repos/runtimeverification/k-pldi-tutorial"]
	path = first-pass/references/k-repos/runtimeverification/k-pldi-tutorial
	url = https://github.com/runtimeverification/k-pldi-tutorial.git
[submodule "references/k-repos/runtimeverification/k-tutorial-atva-2023"]
	path = first-pass/references/k-repos/runtimeverification/k-tutorial-atva-2023
	url = https://github.com/runtimeverification/k-tutorial-atva-2023.git
[submodule "references/k-repos/runtimeverification/k-versus-evm"]
	path = first-pass/references/k-repos/runtimeverification/k-versus-evm
	url = https://github.com/runtimeverification/k-versus-evm.git
[submodule "references/k-repos/runtimeverification/michelson-semantics"]
	path = first-pass/references/k-repos/runtimeverification/michelson-semantics
	url = https://github.com/runtimeverification/michelson-semantics.git
[submodule "references/k-repos/runtimeverification/mir-semantics"]
	path = first-pass/references/k-repos/runtimeverification/mir-semantics
	url = https://github.com/runtimeverification/mir-semantics.git
[submodule "references/k-repos/runtimeverification/mir-semantics-compiletest"]
	path = first-pass/references/k-repos/runtimeverification/mir-semantics-compiletest
	url = https://github.com/runtimeverification/mir-semantics-compiletest.git
[submodule "references/k-repos/runtimeverification/mx-sdk-rs-flake"]
	path = first-pass/references/k-repos/runtimeverification/mx-sdk-rs-flake
	url = https://github.com/runtimeverification/mx-sdk-rs-flake.git
[submodule "references/k-repos/runtimeverification/mx-semantics"]
	path = first-pass/references/k-repos/runtimeverification/mx-semantics
	url = https://github.com/runtimeverification/mx-semantics.git
[submodule "references/k-repos/runtimeverification/percolator"]
	path = first-pass/references/k-repos/runtimeverification/percolator
	url = https://github.com/runtimeverification/percolator.git
[submodule "references/k-repos/runtimeverification/pl-tutorial"]
	path = first-pass/references/k-repos/runtimeverification/pl-tutorial
	url = https://github.com/runtimeverification/pl-tutorial.git
[submodule "references/k-repos/runtimeverification/plutus"]
	path = first-pass/references/k-repos/runtimeverification/plutus
	url = https://github.com/runtimeverification/plutus.git
[submodule "references/k-repos/runtimeverification/plutus-core-semantics"]
	path = first-pass/references/k-repos/runtimeverification/plutus-core-semantics
	url = https://github.com/runtimeverification/plutus-core-semantics.git
[submodule "references/k-repos/runtimeverification/polkadot-verification"]
	path = first-pass/references/k-repos/runtimeverification/polkadot-verification
	url = https://github.com/runtimeverification/polkadot-verification.git
[submodule "references/k-repos/runtimeverification/python-semantics"]
	path = first-pass/references/k-repos/runtimeverification/python-semantics
	url = https://github.com/runtimeverification/python-semantics.git
[submodule "references/k-repos/runtimeverification/py-wasm"]
	path = first-pass/references/k-repos/runtimeverification/py-wasm
	url = https://github.com/runtimeverification/py-wasm.git
[submodule "references/k-repos/runtimeverification/riscv-semantics"]
	path = first-pass/references/k-repos/runtimeverification/riscv-semantics
	url = https://github.com/runtimeverification/riscv-semantics.git
[submodule "references/k-repos/runtimeverification/rust-verification-proofs"]
	path = first-pass/references/k-repos/runtimeverification/rust-verification-proofs
	url = https://github.com/runtimeverification/rust-verification-proofs.git
[submodule "references/k-repos/runtimeverification/secureum-kontrol"]
	path = first-pass/references/k-repos/runtimeverification/secureum-kontrol
	url = https://github.com/runtimeverification/secureum-kontrol.git
[submodule "references/k-repos/runtimeverification/skribe"]
	path = first-pass/references/k-repos/runtimeverification/skribe
	url = https://github.com/runtimeverification/skribe.git
[submodule "references/k-repos/runtimeverification/skribe_9lives.so"]
	path = first-pass/references/k-repos/runtimeverification/skribe_9lives.so
	url = https://github.com/runtimeverification/skribe_9lives.so.git
[submodule "references/k-repos/runtimeverification/skribe-advanced-fuzzing"]
	path = first-pass/references/k-repos/runtimeverification/skribe-advanced-fuzzing
	url = https://github.com/runtimeverification/skribe-advanced-fuzzing.git
[submodule "references/k-repos/runtimeverification/skribe_bobcat-sdk"]
	path = first-pass/references/k-repos/runtimeverification/skribe_bobcat-sdk
	url = https://github.com/runtimeverification/skribe_bobcat-sdk.git
[submodule "references/k-repos/runtimeverification/smalloc-verify"]
	path = first-pass/references/k-repos/runtimeverification/smalloc-verify
	url = https://github.com/runtimeverification/smalloc-verify.git
[submodule "references/k-repos/runtimeverification/solidity-semantics"]
	path = first-pass/references/k-repos/runtimeverification/solidity-semantics
	url = https://github.com/runtimeverification/solidity-semantics.git
[submodule "references/k-repos/runtimeverification/stable-mir-json"]
	path = first-pass/references/k-repos/runtimeverification/stable-mir-json
	url = https://github.com/runtimeverification/stable-mir-json.git
[submodule "references/k-repos/runtimeverification/verified-smart-contracts"]
	path = first-pass/references/k-repos/runtimeverification/verified-smart-contracts
	url = https://github.com/runtimeverification/verified-smart-contracts.git
[submodule "references/k-repos/runtimeverification/verify-rust-std"]
	path = first-pass/references/k-repos/runtimeverification/verify-rust-std
	url = https://github.com/runtimeverification/verify-rust-std.git
[submodule "references/k-repos/runtimeverification/wasmi"]
	path = first-pass/references/k-repos/runtimeverification/wasmi
	url = https://github.com/runtimeverification/wasmi.git
[submodule "references/k-repos/runtimeverification/wot-honeypot-kontrol"]
	path = first-pass/references/k-repos/runtimeverification/wot-honeypot-kontrol
	url = https://github.com/runtimeverification/wot-honeypot-kontrol.git
[submodule "references/k-repos/runtimeverification/yul-semantics-old"]
	path = first-pass/references/k-repos/runtimeverification/yul-semantics-old
	url = https://github.com/runtimeverification/yul-semantics-old.git
[submodule "references/k-repos/runtimeverification/zero-to-k-tutorial"]
	path = first-pass/references/k-repos/runtimeverification/zero-to-k-tutorial
	url = https://github.com/runtimeverification/zero-to-k-tutorial.git
[submodule "references/k-repos/runtimeverification/zkevm-harness"]
	path = first-pass/references/k-repos/runtimeverification/zkevm-harness
	url = https://github.com/runtimeverification/zkevm-harness.git
[submodule "references/cpython"]
	path = first-pass/references/cpython
	url = https://github.com/python/cpython
	shallow = true
